 #logo {
  width: 8.2rem;
  height: 7.839rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#pizza-icon {
  height: 4.5rem;
  position: relative;
}
