* {
  margin: 0;
  padding: 0;
}

html {
  // This defines what 1rem is
  /* font-size: 10px; */
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(phone) {
    font-size: 30%;
  }

  // @include respond(big-desktop) {
  //   font-size: 62.5%;
  // }
}

body {
  background-color: $color-dark1;
  margin: 0 15.95%;

  @include respond(tab-land) {
    margin: 0;
  }
}
